* {
  box-sizing: border-box;
  margin: auto;
  font-family: montserrat, sans-serif;
}

.container {
  width: 1000px;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.flex-col {
  display: flex;
}

.align-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.entry-padding {
  padding-top: 2rem;
}

.entry-modal {
  padding: 15px;
  background-color: white;
  width: 400px;
  border-radius: 1em;
}

.dark-background {
  background: rgb(0 0 0 / 75%);
  height: 100vh;
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
}

.submit-button {
  text-align: right;
  padding-right: 13.5px;
}

.select {
  padding-bottom: 15px;
}

select {
  margin: 0;
  margin-left: 16px;
}

.bottom-padding {
  padding-bottom: 10px;
}

.hidden {
  display: none;
}

.justify-evenly {
  justify-content: space-evenly;
}

.day {
  box-shadow: 3px 4px 0 0 #1564ad;
  background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  background-color: #79bbff;
  border-radius: 5px;
  border: 1px solid #337bc4;
  cursor: pointer;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 44px;
  text-decoration: none;
  text-shadow: 0 1px 0 #528ecc;
}

.time {
  margin: 0;
  padding-left: 10px;
}
