* {
  box-sizing: border-box;
  margin: auto;
}

.container {
  width: 1000px;
}

.row {
  display: flex;
}

.col-full {
  flex-basis: 100%;
}

.hidden {
  display: none;
}

.flex-col {
  display: flex;
}

.align-center {
  text-align: center;
}

.justify-center {
  justify-content: center;
}

.entry-padding {
  padding-top: 2rem;
}
